body{
    background-color: #2f2f2f;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    max-width: 800px;
    margin: auto;
    border: 2px solid white;
    padding: 15px;
}
.intro_header{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
header{
    background-color: #60c1ad;
    color: #2f2f2f;
    padding: 10px 20px 10px 20px;
}
/* it was taking margin by itself, to remove it I had to apply 0 */
h2{
    margin: 0;   
}
hr{
    /* margin: 0;
    height: 10px;
    color: #2f2f2f; */
    background-color: #60c1ad;
}
strong{
    font-weight: 800;
}
.intro_para{
    max-width: 700px;
}
ul{
    padding-left: 60px;
}
ul ul{
    padding-left: 40px;
}
.edu_li{
    display: flex;
    justify-content: space-between;
}
header a{
    color: #2f2f2f;
}
a{
    color: #60c1ad;
}
footer{
    text-align: center;
}