<!DOCTYPE html>
<html lang="en" class="overflow-y-scroll">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../dist/output.css" />
    <!-- inter font links -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <title>components</title>
  </head>
  <body
    class="bg-neutral-1000 min-h-screen w-screen flex justify-center items-center font-inter"
  >
    <div class="flex-col gap-5 items-center">
      <!-- sign up with google -->
      <div class="my-5">
        <button class="py-2.5 px-6 w-80 btn-white">
          <div class="flex justify-center items-center gap-2">
            <img src="../public/images/google.svg" alt="google svg" />
            <span class="font-bold"> Sign up with Google</span>
          </div>
        </button>
      </div>

      <!-- create account -->
      <div class="my-5">
        <button class="py-2 px-6 w-80 btn-white">
          <div>Create account</div>
        </button>
      </div>

      <!-- create account -->
      <div class="my-5">
        <button class="py-2 px-6 w-80 btn-white" disabled>
          <div>Create account</div>
        </button>
      </div>

      <!-- next -->
      <div class="my-5">
        <button class="py-3 px-6 w-[442px] btn-white">Next</button>
      </div>

      <!-- next disabled-->
      <div class="my-5">
        <button class="py-3 px-6 w-[442px] btn-white" disabled>Next</button>
      </div>

      <!-- follow -->
      <div class="my-5">
        <button class="py-2 px-5 btn-white">Follow</button>
      </div>

      <!-- follow disabled-->
      <div class="my-5">
        <button class="py-2 px-5 btn-white" disabled>Follow</button>
      </div>

      <!-- Following -->
      <div class="my-5">
        <button
          class="px-4 py-1.5 bg-black border-2 border-blue-wash rounded-full text-white font-bold gap-2.5"
        >
          Following
        </button>
      </div>

      <!-- Sign-up -->
      <div class="my-5">
        <button
          class="px-6 py-2 bg-black border-2 border-blue-wash rounded-full text-twitter-blue w-full font-bold"
        >
          Sign-up
        </button>
      </div>

      <!-- post small -->
      <div class="my-5">
        <button class="px-6 py-3 blue-btn">Post</button>
      </div>

      <!-- post small disabled-->
      <div class="my-5">
        <button class="px-6 py-3 blue-btn" disabled>Post</button>
      </div>

      <!-- post medium -->
      <div class="my-5">
        <button class="px-24 py-4 blue-btn">Post</button>
      </div>

      <!-- post medium disabled-->
      <div class="my-5">
        <button class="px-24 py-4 blue-btn" disabled>Post</button>
      </div>

      <!-- post large -->
      <div class="my-5">
        <button class="px-5 py-5 w-[442px] blue-btn">Post</button>
      </div>

      <!-- post large disabled-->
      <div class="my-5">
        <button class="px-5 py-5 w-[442px] blue-btn" disabled>Post</button>
      </div>

      <!-- tabs  -->
      <div
        class="my-5 pt-5 w-[600px] text-neutral-50 font-medium border-b-2 border-solid border-neutral-500 flex justify-center items-center gap-40"
      >
        <button
          class="active:border-b-4 pb-3 active:pb-4 active:border-twitter-blue active:text-neutral-500"
        >
          For you
        </button>
        <button
          class="active:border-b-4 pb-3 active:pb-4 active:border-twitter-blue active:text-neutral-500"
        >
          Following
        </button>
      </div>

      <!-- icon buttons interactive -->
      <div class="my-5 flex gap-5 items-center">
        <button>
          <svg
            class="stroke-neutral-50 stroke-2 active:fill-neutral-50"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path d="M10 20V14H14V20H19V12H22L12 3L2 12H5V20H10Z" />
          </svg>
        </button>
        <button>
          <svg
            class="stroke-neutral-50 stroke-2 active:fill-neutral-50"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="Group">
              <path
                id="Vector"
                d="M1 15C1 13.9391 1.42143 12.9217 2.17157 12.1716C2.92172 11.4214 3.93913 11 5 11H13C14.0609 11 15.0783 11.4214 15.8284 12.1716C16.5786 12.9217 17 13.9391 17 15C17 15.5304 16.7893 16.0391 16.4142 16.4142C16.0391 16.7893 15.5304 17 15 17H3C2.46957 17 1.96086 16.7893 1.58579 16.4142C1.21071 16.0391 1 15.5304 1 15Z"
                stroke="white"
                stroke-width="2"
                stroke-linejoin="round"
              />
              <path
                id="Vector_2"
                d="M9 7C10.6569 7 12 5.65685 12 4C12 2.34315 10.6569 1 9 1C7.34315 1 6 2.34315 6 4C6 5.65685 7.34315 7 9 7Z"
                stroke="white"
                stroke-width="2"
              />
            </g>
          </svg>
        </button>
      </div>

      <!-- icon images  -->
      <div class="my-5 flex gap-5">
        <button>
          <img src="../public/images/home_line.svg" alt="home_line" />
        </button>
        <button>
          <img src="../public/images/home_fill.svg" alt="home_line" />
        </button>
        <button>
          <img src="../public/images/group_line.svg" alt="home_line" />
        </button>
        <button>
          <img src="../public/images/group_fill.svg" alt="home_line" />
        </button>
      </div>
    </div>
  </body>
</html>
