<!DOCTYPE html>
<html lang="en" class="overflow-y-scroll">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../dist/output.css" />
    <!-- inter font links -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <title>components</title>
  </head>
  <body
    class="bg-neutral-1000 min-h-screen w-screen flex justify-center items-center font-inter"
  >
    <div class="flex-col gap-5 items-center">
      <!-- sign up with google -->
      <div class="my-5">
        <button class="py-2.5 px-6 w-80 btn-white">
          <div class="flex justify-center items-center gap-2">
            <img src="../public/images/google.svg" alt="google svg" />
            <span class="font-bold"> Sign up with Google</span>
          </div>
        </button>
      </div>

      <!-- create account -->
      <div class="my-5">
        <button class="py-2 px-6 w-80 btn-white">
          <div>Create account</div>
        </button>
      </div>

      <!-- create account -->
      <div class="my-5">
        <button class="py-2 px-6 w-80 btn-white" disabled>
          <div>Create account</div>
        </button>
      </div>

      <!-- next -->
      <div class="my-5">
        <button class="py-3 px-6 w-[442px] btn-white">Next</button>
      </div>

      <!-- next disabled-->
      <div class="my-5">
        <button class="py-3 px-6 w-[442px] btn-white" disabled>Next</button>
      </div>

      <!-- follow -->
      <div class="my-5">
        <button class="py-2 px-5 btn-white">Follow</button>
      </div>

      <!-- follow disabled-->
      <div class="my-5">
        <button class="py-2 px-5 btn-white" disabled>Follow</button>
      </div>

      <!-- Following -->
      <div class="my-5">
        <button
          class="px-4 py-1.5 bg-black border-2 border-blue-wash rounded-full text-white font-bold gap-2.5"
        >
          Following
        </button>
      </div>

      <!-- Sign-up -->
      <div class="my-5">
        <button
          class="px-6 py-2 bg-black border-2 border-blue-wash rounded-full text-twitter-blue w-full font-bold"
        >
          Sign-up
        </button>
      </div>

      <!-- post small -->
      <div class="my-5">
        <button class="px-6 py-3 blue-btn">Post</button>
      </div>

      <!-- post small disabled-->
      <div class="my-5">
        <button class="px-6 py-3 blue-btn" disabled>Post</button>
      </div>

      <!-- post medium -->
      <div class="my-5">
        <button class="px-24 py-4 blue-btn">Post</button>
      </div>

      <!-- post medium disabled-->
      <div class="my-5">
        <button class="px-24 py-4 blue-btn" disabled>Post</button>
      </div>

      <!-- post large -->
      <div class="my-5">
        <button class="px-5 py-5 w-[442px] blue-btn">Post</button>
      </div>

      <!-- post large disabled-->
      <div class="my-5">
        <button class="px-5 py-5 w-[442px] blue-btn" disabled>Post</button>
      </div>

      <div class="my-5 flex gap-5">
        <button>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M12 5.69L17 10.19V18H15V12H9V18H7V10.19L12 5.69ZM12 3L2 12H5V20H11V14H13V20H19V12H22L12 3Z"
              fill="white"
            />
          </svg>
        </button>
        <button>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M10 20V14H14V20H19V12H22L12 3L2 12H5V20H10Z"
              fill="white"
            />
          </svg>
        </button>
      </div>

      <div class="my-5 flex gap-5">
        <button>
          <img src="../public/images/home_line.svg" alt="home_line" />
        </button>
        <button>
          <img src="../public/images/home_fill.svg" alt="home_line" />
        </button>
      </div>
    </div>
  </body>
</html>
