<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../dist/output.css" />
    <!-- inter font links -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <title>Assignment 1.3</title>
  </head>
  <body class="font-inter text-neutral-50">
    <div class="my-10">
      <div
        class="w-[512px] h-[355px] bg-neutral-1000 rounded-2xl px-4 py-2.5 inline-flex"
      ></div>
    </div>
    <div class="my-10">
      <div
        class="w-[512px] h-[223px] bg-neutral-1000 rounded-2xl px-4 py-2.5 inline-flex gap-3 flex-col items-start"
      >
        <div class="flex gap-5 px-4 py-3 items-center">
          <button>
            <img src="../public/images/cancel.svg" alt="cancel" />
          </button>
          <p class="font-bold text-sm2">Header</p>
        </div>
      </div>
    </div>
  </body>
</html>
