<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../dist/output.css" />
    <!-- font-inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <title>Login page</title>
  </head>

  <body
    class="font-inter bg-neutral-1000 text-neutral-50 min-h-screen w-screen justify-center items-start lg:items-center flex px-7"
  >
    <div class="flex items-center md:gap-6 lg:gap-25 flex-col md:flex-row">
      <img
        class="object-contain my-3 w-14 h-4 sm:w-36 sm:h-12 md:w-72 md:h-24 lg:w-[600px] lg:h-52"
        src="../public/images/100xlogo.svg"
        alt="100xlogo"
      />
      <div class="flex flex-col pl-7 min-h-screen">
        <div class="m-auto">
          <h1 class="text-3.5xl md:text-5xl mb-3 font-extrabold">
            Happening Now
          </h1>
          <h3 class="text-base md:text-2.5xl pb-10 font-bold">Join today.</h3>
          <div class="pr-7">
            <button
              class="px-6 py-2 bg-neutral-50 hover:bg-neutral-200 text-neutral-1000 w-full rounded-full font-bold items-center justify-center"
            >
              Create account
            </button>
            <div class="flex items-center justify-center py-10 gap-1">
              <hr width="150.5px" />
              or
              <hr width="150.5px" />
            </div>
            <h2 class="text-xl font-medium pb-5">Already have an account ?</h2>
            <button
              class="px-6 py-2 bg-black border-2 border-blue-wash rounded-full text-twitter-blue w-full font-bold"
            >
              Sign-up
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
